<plugin>
	<nom>Medias</nom>
	<auteur>Collectif SPIP, Cedric Morin &amp; Romy Duhem-Verdiere pour la mediatheque</auteur>
	<icon>prive/themes/spip/images/portfolio-64.png</icon>
	<version>2.0.0</version>
	<version_base>0.12.0</version_base>
	<etat>test</etat>
	<description>Gestion des medias de SPIP</description>
	<install>base/medias.php</install>
	<fonctions>medias_fonctions.php</fonctions>
	<prefix>medias</prefix>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/medias.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/medias.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/medias.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_objets_sql</nom>
		<inclure>base/medias.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_insertion</nom>
		<inclure>medias_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>medias_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_gauche</nom>
		<inclure>medias_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>afficher_complement_objet</nom>
		<inclure>medias_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>objet_compte_enfants</nom>
		<inclure>medias_pipelines.php</inclure>
	</pipeline>

	<pipeline>
		<nom>autoriser</nom>
		<inclure>medias_autoriser.php</inclure>
	</pipeline>
	<pipeline><nom>document_desc_actions</nom><action></action></pipeline>
	<pipeline><nom>editer_document_actions</nom><action></action></pipeline>

	<bouton id='documents' parent='bando_edition'>
		<titre>medias:documents</titre>
		<icone>images/portfolio-16.png</icone>
		<url>mediatheque</url>
	</bouton>

	<chemin dir="" />
	<chemin dir="squelettes" />
	<necessite id="SPIP" version="[2.3.0-dev;]" />
	<utilise id="Z" version="[1.2.1;]" />
	<utilise id="mediabox" version="[0.5.0;]" />
	<categorie>multimedia</categorie>
</plugin>
